<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="dev.hawk0f.checkmates.PreviewGalleryActivity"
            android:exported="true"
            android:label="Preview catalog"
            android:theme="@android:style/Theme.Material.Light.NoActionBar"/>
    </application>

</manifest>
